* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ==========================HEADER========================== */
.header {
	background-color: rgb(39, 39, 128);
}
.top {
	display: flex;
	align-items: center;
	color: white;
	font-weight: bold;
	text-shadow: 4px 4px black;
	font-size: 26px;
	padding: 30px 10px;
	gap: 30px;
}
.nav ul {
	display: flex;
	list-style-type: none;
	justify-content: space-evenly;
}
.nav {
	background-color: rgba(97, 160, 205, 0.841);
	width: 100%;
}
.nav li a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

/* ======================ABOUT US============================== */
.container {
	margin: 0 200px;
}
.main {
	margin-top: 20px;
	font-size: 28px;
	color: black;
}
.center-text {
	margin: 20px auto;
	width: 400px;
	text-align: center;
}
.blue {
	color: rgb(39, 39, 128);
	text-shadow: 0.5px 1px black;
	font-weight: 600;
	font-size: 20px;
}
.red {
	color: red;
	font-size: 16px;
}
.main img {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.main p {
	font-size: 18px;
	letter-spacing: 1px;
}
/* ============================FOOTER====================== */
footer {
	margin-top: 50px;
	background-color: rgb(39, 39, 128);
	padding: 20px;
	text-align: center;
	color: white;
	text-shadow: 1px 2px black;
}
